.container-fluid{
  background-color: #fff;
}

.header{
  margin: 0;
  height: fit-content;
  background-color: #286181;
}

.img-fluid{
  height: 20vh;
}

.search{
  padding: 4rem 1rem;
}

.search .input-group{
  margin-top: 5rem;
}

.form-control{
  background-color: #6ca8c6 !important;
  border: 0 !important;
  color: #fff !important;
}

.form-control::placeholder{
  color: #fff !important;
}

button{
  background-color: #6ca8c6;
}

button:hover{
  background-color: #387693 !important;
}

.result{
  overflow-y: hidden;
  background-color: #fff;
  width: 100%;
}

.word{
  font-size: 40px;
  font-weight: bolder;
}

.text{
  font-style: italic;
  font-size: 17px;

}