.container-fluid{
  min-height: 100vh;
}

@media only screen and (min-width: 768px){
  .header{
    width: 75%;
    margin: 0 auto;
    justify-content: space-evenly;
  }
}

.form-select{
  border: none !important;
  border-radius: 0% !important;
  background-color: inherit !important;
  color: inherit !important;
}

.input-group{
  width: 100%;
  height: fit-content;
  background-color: #f4f4f4;
}

.form-select:focus{
  box-shadow: none !important;
}

.form-control{
  background-color: inherit !important;
  color: #222 !important;
  border: 0 !important;
}

.form-control::placeholder{
  color: #222 !important;
}

input:focus{
  outline: none;
}

button:hover{
  background-color: #f4f4f4 !important;
  color: #222 !important;
}

.result{
  overflow-y: hidden;
  background-color: inherit;
  width: 100%;
  color: inherit;
}

.word{
  font-size: 40px;
  font-weight: bolder;
}

hr{
  vertical-align: middle;
}

.text{
  font-style: italic;
  font-size: 17px;
  color: #a65fdd;
}

.play:hover{
  background-color: transparent !important;
}

li::marker{

  color: #a65fdd;
  vertical-align: middle;
}

option{
  color: #fff !important
}

#button-addon2{
  background-color: #f4f4f4 !important;
  color: #222 !important;
}

@media (prefers-color-scheme: dark){
  .adaptive{
    background-color: #050505;
    color: #ccc;
  }

  select{
    background-color: inherit !important;
    color: inherit !important;
  }

  #button-addon2{
    background-color: #1f1f1f !important;
    color: #a65fdd !important;
  }

  .form-control{
    background-color: #1f1f1f !important;
    color: #ccc !important;
  }

  .form-control::placeholder{
    color: #ccc !important;
  }
}