.container-fluid{
  min-height: 100vh;
}

@media only screen and (min-width: 768px){
  .header{
    width: 75%;
    margin: 0 auto;
    justify-content: space-evenly;
  }
}

select{
  border: none !important;
  border-radius: 0% !important;
  background-color: inherit !important;
  color: inherit !important;
}

select::after{
  background-color: inherit !important;
}

.form-select:focus{
  transition: none !important;
}

.form-control{
  background-color: #f4f4f4 !important;
  border: 0 !important;
   color: #222 !important;
}

.form-control::placeholder{
  color: #222 !important;
}

input:focus{
  outline: none;
}

#searchBtn{
  background-color: #f4f4f4 !important;
}

button:hover{
  background-color: #f4f4f4 !important;
  color: #222 !important;
}

.result{
  overflow-y: hidden;
  background-color: inherit;
  width: 100%;
}

.word{
  font-size: 40px;
  font-weight: bolder;
}

hr{
  vertical-align: middle;
}

.text{
  font-style: italic;
  font-size: 17px;
}

.dark {
  background-color: #242424;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #333;
}

