:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  height: 100vh;
  display: flex;
}

@media (prefers-color-scheme: dark){
  .adaptive{
    background-color: #242424;
    color: #fff;
  }

  select{
    background-color: transparent !important;
    color: inherit !important;
  }

  .btn{
    color: #fff;
  }

  .result{
    background-color: inherit !important;
    color: inherit;
  }
}

@media (prefers-color-scheme: light) {
  .adaptive {
    background: #FFF;
    color: #333;
  }

  .result{
    background-color: inherit;
    color: inherit;
  }

  option{
    color: #fff !important
  }
}